.top-links {
  padding: 10px; 
  display: flex; 
}

.top-links a {
  color: #000;
  text-decoration: none; 
  padding: 10px; 
  border: 1px solid #ccc;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px; 
}

/* Active tab */
.top-links a.active {
  background-color: #fff; 
  color: #000; 
  border-color: #000; 
  border-bottom: none; 
}


.top-links a:not(.active) {
  background-color: #ddd; 
  color: #666; 
  border-color: #000;
  border-bottom: #000;
}


.top-links {
  margin-left: 10%; 
}

.top-links a:hover {
  text-decoration: underline; 
}

.table-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
}

.table-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.my-table {
  width: 100%;
  border-collapse: collapse;
}

.my-table a {
  color: black;
  display: block;
}
.my-table th, .my-table td {
  border: none;
  padding: 8px;
  text-align: center;
}

.my-table th {
  background-color: #8c8dd5f5;
  border-bottom: 2px solid #000
}

.grey-row {
  background-color: #F5F5F5;
}

.white-row {
  background-color: #FFF;
}

.search-filter-container {
  display: flex;
  width: 80%;
  height: 50px;
  padding: 5px;
}
.search-input {
  margin-right: 10px;
  width: 45%;
}
