/* TempSuspend.css */
.user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
  }
  
  .user-label {
    flex: 1;
    font-weight: bold; /* Make user labels bold */
  }
  
  .user-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  h1 {
    text-align: center;
    color: navy;
    margin-top:20px;
  }
  h3{
    margin: 20px;
  }
  
  form {
    text-align: left;
  }
  
  input[type="date"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  a{
    color:white;
    text-decoration: none;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  