.top-links a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 28px;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
  padding-left: 10%;
}

.ratio-table th,
.ratio-table td {
  padding: 10px;
  text-align: left;
  width: 33.33%;
}

.ratio-table {
  width: 80%;
}

.ratio-table th {
  background-color: #f2f2f2;
}

.ratio-table td {
  padding: 10px;
  text-align: left;
}

.good {
  color: #4caf50;
}

.warning {
  color: #ff9800;
}

.alert {
  color: #ff0033;
}

.top-links {
  padding: 10px;
  display: flex;
}

.top-links a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.top-links a.active {
  background-color: #fff;
  color: #000;
  border-color: #000;
  border-bottom: none;
}

.top-links a:not(.active) {
  background-color: #ddd;
  color: #666;
  border-color: #000;
  border-bottom: #000;
}

hr {
  border: 2px rgb(0, 0, 54);
  background-color: rgb(0, 0, 54);
  height: 4px;
  width: 85%;
  margin: 0 auto;
}

.pending-entry-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 10px;
}

.pending-entry-table th,
.pending-entry-table td {
  padding: 10px;
  text-align: left;
}

.pending-entry-table th {
  background-color: #f2f2f2;
}

.pending-entry-table td {
  padding: 10px;
}

.confirm-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

.deny-button {
  background-color: #ff0033;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.view-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}