.account-list {
    max-width: 800px;
    margin: 0 auto;
    position: relative; /* Added to set a position context for the button */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  .account-list h2 {
    text-align: left;
    color: black;
    margin-top: 20px;
  }
  
  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f5f5f5;
  }
  
  .create-account-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
  }
  
  button {
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:not(:first-child) {
    margin-left: 5px;
  }
  
  .details {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .create-account-button {
    text-align: center;
    padding-left: 6%;
    padding-right: 6%;
  }