.admin h1 {
    text-align: center;
    color: navy;
    margin-top: 20px;
  }
  .admin h3 {
    margin: 20px;
  }
  
  .user-list {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-name {
    flex-grow: 1;
  }
  
  .user-buttons {
    display: flex;
  }
  
  .user-button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }